# @see https://caremad.io/posts/2013/07/setup-vs-requirement/
--index-url https://pypi.python.org/simple/

# Development requirements
bumpversion
coverage
nose
responses
tox
twine
wheel

# Application requirements, read from setup.py
-e .
